<div>

  <div class="mb-3">
    <h4><strong>Editar Resultados de Gabinete</strong></h4>
  </div>

  <div class="mb-3">
    <a href="{{ url_for('estudios.estudios_home', vista='resultados_gabinete') }}"
       class="btn btn-sm btn-outline-danger">
      Regresar
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>Archivo</th>
          <th>Tipo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>

        <!-- Archivo 1 -->
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-sm btn-outline-danger">
              Eliminar
            </button>
          </td>
        </tr>

        <!-- Archivo 2 -->
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-sm btn-outline-danger">
              Eliminar
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <br>

  <div class="mb-3">
    <label><strong>Agregar nuevo(s) resultado(s)</strong></label>
    <input type="file"
           class="form-control"
           multiple
           accept=".pdf,.png,.jpg,.jpeg">
  </div>
  <br>

  <div class="mb-3">
    <button class="btn btn-sm btn-outline-success">
      Guardar cambios
    </button>

    <a href="{{ url_for('estudios.estudios_home', vista='resultados_gabinete') }}"
       class="btn btn-sm btn-outline-secondary">
      Cancelar
    </a>
  </div>

</div>
